html[data-theme="light"] .highlight pre { line-height: 125%; }
html[data-theme="light"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight .hll { background-color: #ece1fb }
html[data-theme="light"] .highlight { background: #ffffff; color: #0D1117 }
html[data-theme="light"] .highlight .c { color: #C2C3C5; font-style: italic } /* Comment */
html[data-theme="light"] .highlight .k { color: #B83A83 } /* Keyword */
html[data-theme="light"] .highlight .o { color: #A89FC0 } /* Operator */
html[data-theme="light"] .highlight .ch { color: #C2C3C5; font-style: italic } /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: #C2C3C5; font-style: italic } /* Comment.Multiline */
html[data-theme="light"] .highlight .cp { color: #C2C3C5; font-style: italic } /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: #C2C3C5; font-style: italic } /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: #C2C3C5; font-style: italic } /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: #C2C3C5; font-style: italic } /* Comment.Special */
html[data-theme="light"] .highlight .kc { color: #B83A83 } /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: #B83A83 } /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: #B83A83 } /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: #B83A83 } /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: #B83A83 } /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: #B83A83 } /* Keyword.Type */
html[data-theme="light"] .highlight .m { color: #B83A83 } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #FE8369 } /* Literal.String */
html[data-theme="light"] .highlight .nb { color: #9E7FD4; font-weight: bold } /* Name.Builtin */
html[data-theme="light"] .highlight .nd { color: #B83A83; font-weight: bold } /* Name.Decorator */
html[data-theme="light"] .highlight .ow { color: #A89FC0 } /* Operator.Word */
html[data-theme="light"] .highlight .w { color: #0D1117 } /* Text.Whitespace */
html[data-theme="light"] .highlight .mb { color: #B83A83 } /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: #B83A83 } /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: #B83A83 } /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: #B83A83 } /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: #B83A83 } /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #FE8369 } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #FE8369 } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #FE8369 } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #FE8369 } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #FE8369 } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #FE8369 } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #FE8369 } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #FE8369 } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #FE8369 } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #FE8369 } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #FE8369 } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #FE8369 } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #FE8369 } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #9E7FD4; font-weight: bold } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .il { color: #B83A83 } /* Literal.Number.Integer.Long */
html[data-theme="dark"] .highlight pre { line-height: 125%; }
html[data-theme="dark"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight .hll { background-color: #b83a8359 }
html[data-theme="dark"] .highlight { background: #161b26; color: #E8E6EF }
html[data-theme="dark"] .highlight .c { color: #6B737C; font-style: italic } /* Comment */
html[data-theme="dark"] .highlight .k { color: #B83A83 } /* Keyword */
html[data-theme="dark"] .highlight .o { color: #A89FC0 } /* Operator */
html[data-theme="dark"] .highlight .ch { color: #6B737C; font-style: italic } /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm { color: #6B737C; font-style: italic } /* Comment.Multiline */
html[data-theme="dark"] .highlight .cp { color: #6B737C; font-style: italic } /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf { color: #6B737C; font-style: italic } /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 { color: #6B737C; font-style: italic } /* Comment.Single */
html[data-theme="dark"] .highlight .cs { color: #6B737C; font-style: italic } /* Comment.Special */
html[data-theme="dark"] .highlight .kc { color: #B83A83 } /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd { color: #B83A83 } /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn { color: #B83A83 } /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp { color: #B83A83 } /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr { color: #B83A83 } /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt { color: #B83A83 } /* Keyword.Type */
html[data-theme="dark"] .highlight .m { color: #B83A83 } /* Literal.Number */
html[data-theme="dark"] .highlight .s { color: #FE8369 } /* Literal.String */
html[data-theme="dark"] .highlight .nb { color: #9E7FD4; font-weight: bold } /* Name.Builtin */
html[data-theme="dark"] .highlight .nd { color: #B83A83; font-weight: bold } /* Name.Decorator */
html[data-theme="dark"] .highlight .ow { color: #A89FC0 } /* Operator.Word */
html[data-theme="dark"] .highlight .w { color: #E8E6EF } /* Text.Whitespace */
html[data-theme="dark"] .highlight .mb { color: #B83A83 } /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf { color: #B83A83 } /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh { color: #B83A83 } /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi { color: #B83A83 } /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo { color: #B83A83 } /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa { color: #FE8369 } /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb { color: #FE8369 } /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc { color: #FE8369 } /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl { color: #FE8369 } /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd { color: #FE8369 } /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 { color: #FE8369 } /* Literal.String.Double */
html[data-theme="dark"] .highlight .se { color: #FE8369 } /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh { color: #FE8369 } /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si { color: #FE8369 } /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx { color: #FE8369 } /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr { color: #FE8369 } /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 { color: #FE8369 } /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss { color: #FE8369 } /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp { color: #9E7FD4; font-weight: bold } /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .il { color: #B83A83 } /* Literal.Number.Integer.Long */